
.navbar.navbar-default {
  position: fixed;
  background: transparent;
  border-width: 0px;
  top: 0;
  left: 0;
  right:0;
  margin-bottom: 0px;
  z-index: 100;
  .container-fluid {
    .navbar-header {
      font-size: 2em;
      color: #e8e8e8;
      font-style: bold;
      line-height: 60px;
    }
    .data {
      font-size: 1em;
      a {
      color: #fff;
      };
    }
    button {
      margin:13px;
      background-color: transparent;
      border-width: 0px;
      color: #fff;
    }
    .navbar-text.navbar-right{
      margin-right: 16px;
      line-height: 30px;
      color: #fff;
      .navbar-link {
        color: #fff;
      }
    }
  }
}

.col-lg-3 {
  width:33%;
}

.tagline{
  color: #fff;
  text-align: center;
  position:absolute;
  margin: 385px auto;
  width: inherit;

}

.search {
  display: flex;
  margin-top: 478px;
  width: 600px;
}

input.form-control {
  height: 36px;
  border-radius: 48px;
}
input.form-control, input.btn {
    font-size: 18px;
    font-weight: 300;
}

input.btn {
  background-color: #dc5b5b;
  border-radius: 100px;
  border-width: 0px;
  color: #e8e8e8;
  height: 50px;
  margin-left: 10px;
  margin-top: -5px;
}

#dendro {
  margin-top: 100px;
  margin-left: 100px;
}

#radial {
  margin-left: 100px;
}
.node circle {
  fill: #999;
}

.node text {
  font: 10px sans-serif;
}

.node--internal circle {
  fill: #555;
}

.node--internal text {
  text-shadow: 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
}

.link {
  fill: none;
  stroke: #555;
  stroke-opacity: 0.4;
  stroke-width: 1.5px;
}

.mentorList {
  margin-left: 20%;
  .mentor {
    height: 100px;
    width: 70%;
    margin: 40px;
    border-radius: 100px;
    color: #326E95;
    border-color: #ABC2C6;
    &:hover {
    border-color: #dc5b5b;
    }
  }
}

.profilehead {
    margin-top: 100px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  .img-circle {
    float: left;
    border: 2px solid #ABC2C6;
    padding: 10px;
    margin-left: 30px;
  }
  .name{
    font-size: 3em;
    float:right;
    padding-right: 100px;
    margin-top: 50px;
  }
  .connect-btn{
    margin-left: 55px;
    margin-top: 20px;
    background-color: #dc5b5b;
    color: #e8e8e8;
    border-width: 0px;
    border-radius: 15px;
  }

  #modal-form {
    width: 100%;
    #myText{
      width: 80%;
      height: 100px;
      margin: 0 auto;
    }
  }

  .modal-button-send {
  background-color: #326E95;
    border-radius: 10px;
  }
  .modal-button {
  border-radius: 10px;
  }
}

.panel-default {
  width: 50%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  .panel-heading {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #ABC2C6;
    color: #fff;
    font-size: 1.2em;
  }
}

.Result {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

  span {
    float:left;
  }
  a {
    float:right;
  }
}